<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <ul style="list-style:none;margin-top:10px;">
        <% @plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :タイトル %>
    <%= f.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :エリア %>
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {:include_blank => true},{ :class => 'form-control'} %>
  </div>

  <div class="form-group" style="display:none;">
    <%= f.label :user_id %>
    <%= f.number_field :user_id, value:current_user.id %>
  </div>

  <ul class='list-group ul-sortable' style="list-style-type:none;cursor:move;">
    <% i=0 %>
      <%= f.fields_for :plan_details,@plan.plan_details do |m| %>
        <li class=''>
          <div class="form-group" style="">
            <span>詳細</span>
            <%= m.text_field :detail, class:"form-control" %>
          </div>
          <div class="form-group" style="">
            <span>メモ</span>
           <%= m.text_area :memo, class:'form-control'%>
          </div>
          <div class="form-group" style="">
            <span>スタート時間</span>
            <%= m.time_select :start_time %>
          </div>
          <div class="form-group" style="">
            <span>URL</span>
            <%= m.text_field :url, class:'form-control'%>
          </div>
          <div class="form-group">
            <span>ジャンル</span>
            <%= m.collection_select :genre_id, Genre.all, :id, :name, {:include_blank => true},{ :class => 'form-control'} %>
          </div>
          <div class="form-group">
            <a class ="col-xs-4" >削除</a>
            <%= m.check_box :_destroy,class:"form-control inline-block", style: "width:30%;" %>
          </div>
        </li>
        <% i += 1 %>
        <% end %>
      </ul>
  <div class=''>
    <%= f.submit %>
  </div>
<% end %>
