<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @plan.title %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @plan.prefecture_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @plan.user_id %>
</p>

<p>
  <strong>Likes count:</strong>
  <%= @plan.likes_count %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
